{% use 'form_div_layout.html.twig' %}

{% block enhanced_file_widget -%}
    {{ block('form_widget_compound') -}}
    {% if download_url %}<a href="{{ download_url }}">Download file</a>{% endif %}
{%- endblock %}